<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean name="context" class="org.extdoc.Context">
                
        <!-- Sources -->

        <property name="sources">
            <list>
                <bean class="org.extdoc.Source">
                    <property name="src" value="sample/ext/source"/>
                    <property name="match" value="*.js"/>
                    <property name="skipHidden" value="true"/>
                </bean>
            </list>
        </property>

        <property name="comment" ref="comment"/>
        
    </bean>

    <bean name="parser" class="org.extdoc.Parser">
        <property name="context" ref="context"/>
    </bean>

    <bean name="comment" class="org.extdoc.Comment">
        <property name="startsWith" value="/**"/>
        <property name="endsWith" value="*/"/>
        <property name="preprocessors">
            <list>
                <ref bean="preprocessor"/>
            </list>
        </property>
    </bean>

    <bean name="preprocessor" class="org.extdoc.StandardCommentPreprocessor">
        <property name="assumeWhitespace">
            <set>
                <value>*</value>
            </set>
        </property>
    </bean>

</beans>